%table.table.datatable-minimal
  %thead
    %th Type
    %th Quantity
    %th Delivered
    %th Available at venue
  - @sponsor.sponsor_swags.each do |swag|
    %tr
      %td= swag.name
      %td= swag.quantity
      %td
        - if swag.delivered?
          .fa.fa-check.text-success
        - else
          .fa.fa-times.text-danger
      %td
        - if swag.at_venue?
          .fa.fa-check.text-success
        - else
          .fa.fa-times.text-danger
